/* CSS HEX PALETTE */
/* https://coolors.co/160f29-246a73-368f8b-f3dfc1-ddbea8 */
/* --dark-purple: #160f29ff;
--ming: #246a73ff;
--dark-cyan: #368f8bff;
--champagne: #f3dfc1ff;
--desert-sand: #ddbea8ff; */


body {
    font-family:Arial, Helvetica, sans-serif

}

/* disable bullets on lists site wide */
li {
    list-style:none;
    
}

a {
    color: #160f29ff;
    text-decoration: none;
}

a:hover{
    color: rgb(213, 13, 13);
    
}
/* main container for the whole website */
body > section {
    display: grid;
    grid-template-rows: 2fr 7fr 1fr;

}

/* used to flex the title and nav boxes */
section > header {
    padding:5px;
    display: flex;
    flex-direction: column;
    background-color: #f3dfc1ff;
}

/* main container for the top title bar */
header > header {
    display: flex;
    justify-content: center;
    background-color: #f3dfc1ff;
    width:100%
}

/* main container for the nav items */
header > nav {

    width:100%;

}

/* flex for the nav list */
nav > ul {
    padding:0;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

/* addressing the nav list for styles */
nav > ul > li {
    background-color: #368f8bff;
    padding:7px;
    margin: 3px;
    border-radius: 5px;
    width:140px;
    white-space: nowrap;
}
nav > ul > li  > a{
    color: white;
    text-decoration: none;
}

/* this should target the main central website container */
section > main {
    background-color: #ddbea8ff;
    width: 100%;
    height: 

}


form > ul > li {
    width: 250px
}

form > ul > li > input {
    width: 100px
}

/* this should target the page footer container which i dont have a use for yet */
section > main {

}


/* ideally this should be a message bar used for app use feedback */
main > header {
    padding: 0;
    margin:5px;
    border-radius: 5px;
    display:flex;
    justify-content: center;
    background-color: #368f8bff;

}

/* this should target the inner most window that 
grows around the apps use also splits into two left and right sections  */
main > article {
    padding: 2px;
    margin:5px;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 35% 65%;
    grid-template-rows: auto 5em;
    background-color:#f3dfc1ff;
    justify-content: center;

}

.center-bottom-article-section {
    grid-column-start: 1;
    grid-column-end: 3;
    align-self: center;
}


main > article > ul {
    padding:0;

}
/* most lists with the main article should line up the labels */
main > article > ul > li, form > ul >li {
    display: grid;
    grid-template-columns: 6em 6em;
}

.bottom-submit-buttons {
    display:flex

}

button {
    white-space: nowrap;
}