{% extends '/index.html.j2' %}
{% block content %}
Vets Testing 123
<ul>
    {% for vet in all_vets %}
    <li><a href="/vets/{{vet.id}}">{{vet.name}}</a></li>
    {% endfor %}
    <li><a href="vets/new">Add New Vet</a></li>
</ul>
{% endblock content %}