{% extends '/index.html.j2' %}
{% block content %}
<article>
<form action="#" method="POST">
<ul>
    <li>Name: <input type="text" name="name" required></li>
    <li>
    <button type="submit" name="action" value="continue">Save & Add more</button>
    <button type="submit" name="action" value="finish">Save & Return</button>
    <button type="reset" value="discard">Reset</button>
    </li>
</ul>    
</form>
</article>

{% endblock content %}