{% extends '/index.html.j2' %}
{% block content %}
<article>
    <section class="left-article-section"></section>
    <section class="right-article-section">
        <form action="#" method="POST">
            <ul>
                <li>
                    <span>Name: </span>
                    <span><input type="text" name="name" required></span>
                </li>
            </ul>

    </section>


    <section class="center-bottom-article-section">

        <li>
            <span>
                <button type="submit" name="action" value="continue">
                    Save & Add more
                </button>
                <button type="submit" name="action" value="finish">
                    Save & Return
                </button>
            </span>
            <span><button type="reset" value="discard">
                    Reset
                </button></span>
        </li>
        </form>
    </section>
</article>


{% endblock content %}