{% extends 'animals/show.html.j2' %}
{% block detail %}
<ul>
    {% for treatment in treatments %}
    <li> {{treatment.date}} - {{treatment.notes}} ({{treatment.weight}}Kg)</li>
    {% endfor %}
</ul>

{% endblock detail %}