{% extends '/index.html.j2' %}
{% block content %}
<article>
    <section class="left-article-section">
        <form action="/animals/detail/edit/{{animal.id}}" method="POST">
            <ul>
                <li>
                    <span>ID: </span>
                    <span>{{animal.id}}</span>
                </li>
                <li>
                    <span>Name: </span>
                    <span>
                        <input type="text" name="name" value="{{animal.name}} " required>
                    </span>
                </li>
                <li>
                    <span>Dob: </span>
                    <span>
                        <input type="text" name="dob" value="{{animal.dob}} " required>
                    </span>
                </li>
                <li> <span>Species: </span>
                    <span>
                        <input type="text" name="species" value="{{animal.species}}" required>
                    </span>
                </li>
                <li>
                    <span>Owner: </span>
                    <span>{{animal.owner.name}}</span>
                </li>
                <li>
                    <span>Vet: </span>
                    <span>
                        <select name="vet_id">
                            {% for vet in active_vets %}
                            <option value="{{ vet.id }}" {% if vet.id==animal.vet.id %} selected {% endif %}>
                                {{ vet.name }}
                            </option>
                            {% endfor %}
                        </select>
                </li>
                <li>
                    <span>Deactivate ? </span>
                    <span>
                        <input type="checkbox" name="deactivated" value="True" {% if animal.deactivated==True %} checked
                            {% endif %}>
                    </span>
                </li>
                <input type="hidden" name="id" value={{animal.id}}>
                <input type="hidden" name="owner_id" value={{animal.owner.id}}>
            </ul>
    </section>
    <section class="right-article-section"></section>
    <section class="center-bottom-article-section">
        <ul>
            <li>
                <span>
                    <button type="submit" name="action" value="save" class="bottom-submit-buttons">
                        Save
                    </button>
                </span>
                <span></span>
            </li>
        </ul>
        </form>
    </section>
</article>
{% endblock content %}