{% extends '/index.html.j2' %}
{% block content %}
{% if message != None %}
    {{message}}
{% endif %}
<form action="" method="POST">
    <input type="text" name="name" id="" required>
    <input type="text" name="dob" id="" required>
    <input type="text" name="species" id="" required>
    <input type="text" name="owner" id="" required>
    <select name="vet_id">
    {% for vet in vets %}
        <option value="{{ vet.id }}">
            {{ vet.name }}
        </option>
    {% endfor %}
    </select>
    <input type="submit" name="action" value="continue" />
    <input type="submit" name="action" value="finish" />
    <input type="reset" value="discard" />
</form>
{% endblock content %}