{% extends '/index.html.j2' %}
{% block content %}
<article>
<ul>
    <li>Name : {{animal.name}}</li>
    <li>dob : {{animal.dob}}</li>
    <li>species : {{animal.species}}</li>
    <li>owner : {{animal.owner}}</li>
    <li>Vet : {{animal.vet.name}}</li>
    <li>ID : {{animal.id}}</li>
    <li>
    <section class="bottom-submit-buttons">
    <form action="/animals/detail/edit/{{animal.id}}" method="GET">
    <input type="hidden" name="id" value="{{animal.id}}"/>
    <button type="submit" value="edit">Edit</button>
    </form>
    <form action="/animals/detail/delete/{{animal.id}}" method="POST">
    <input type="hidden" name="id" value="{{animal.id}}"/>
    <button type="submit" value="delete" onclick="return confirm('Are you sure?')">Delete</button>
    </section>
    </form>
</ul>
</article>
{% endblock content %}
