{% extends '/index.html.j2' %}
{% block content %}
<article>
    <section class="left-article-section">
        <ul>
            <li><span>ID :</span><span> {{animal.id}}</span></li>
            <li><span>Active :</span><span> {% if animal.deactivated == False %}
                    True
                    {% else %}
                    False
                    {% endif %}
                </span></li>
            <li><span>Name :</span><span> {{animal.name}}</span></li>
            <li><span>dob :</span><span> {{animal.dob}}</span></li>
            <li><span>species :</span><span> {{animal.species}}</span></li>
            <li><span>owner :</span><span> {{animal.owner.name}}</span></li>
            <li><span>Treatments :</span><span> <a href="/animals/detail/treatments/{{animal.id}}">[ {{len_treatments}}
                        ]</a></span></li>
            <li><span>Vet :</span><span> {{animal.vet.name}}</span></li>
        </ul>
    </section>
    <section class="right-article-section">
        {% block detail %}
        {% endblock detail %}
    </section>
    <section class="center-bottom-article-section">
        <ul>
            <li><span></span>
                <span>
                    <form action="/animals/detail/edit/{{animal.id}}" method="GET">
                        <input type="hidden" name="id" value="{{animal.id}}" />
                        <button type="submit" value="edit">Edit</button>
                    </form>
                    <form action="/animals/detail/deactivate/{{animal.id}}" method="POST">
                        <input type="hidden" name="id" value="{{animal.id}}" />
                        <button type="submit" value="deactivate"
                            onclick="return confirm('Are you sure?')">Deactivate</button>
                    </form>
                </span>
            </li>
        </ul>
    </section>
</article>
{% endblock content %}