{% extends 'owners/show.html.j2' %}
{% block detail %}
<ul>
    {% for animal in animals %}
    <li>
        <span>
            <a href="/animals/detail/show/{{animal.id}}">{{animal.name}}</a>
            <form action="/animals/detail/deactivate/{{animal.id}}" method="POST"><input type="hidden" name="id"
                    value="{{animal.id}}" /><button type="submit" value="deactivate">X</button></form>
        </span>
    </li>
    {% endfor %}
</ul>

{% endblock detail %}