{% extends '/index.html.j2' %}
{% block content %}
<article>
    <section class="left-article-section"></section>
    <section class="right-article-section">
        <form action="#" method="POST">
            <ul>
                <li>
                    <span>Name: </span>
                    <span>
                        <input type="text" name="name" required>
                        </span>
                    </li>
                <li>
                    <span>Address: </span>
                    <span>
                        <textarea name="address"rows="4" cols="30" required></textarea>
                        </span>
                    </li>
                <li>
                    <span>
                        <button type="submit" name="action" value="continue">
                            Save & Add more
                        </button>
                        <button type="submit" name="action" value="finish">
                            Save & Return
                        </button>
                    </span>
                    <span>
                        <button type="reset" value="discard">
                            Reset
                        </button>
                        </span>
                </li>
            </ul>
        </form>
    </section>
    <section class="center-bottom-article-section">
        <ul>

        </ul>
    </section>
</article>
{% endblock content %}