{% extends 'owners/show.html.j2' %}
{% block detail %}
<ul>
    {% for animal in animals %}
    {% if animal.owner.id == 1 %}
    UPDATE THIS TOMORROW
    <li>
        <span>
            <a href="/animals/detail/show/{{animal.id}}">{{animal.name}}</a>
        </span>
        <span>
        </span>
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% endblock detail %}